{% extends 'layouts/main.html' %}

{% block title %}
Upload
{% endblock title %}

{% block content %}
{% include 'inc/topnav.html' %}
{% include 'inc/menu.html' %}
{% include 'inc/footer.html' %}

<body class="hold-transition sidebar-mini sidebar-collapse">
  <div class="wrapper">
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h4 class="m-0 text-dark">Upload</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li class="breadcrumb-item active">Upload</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Upload</h3>
  
            <div class="card-tools">
              <!-- <button type="button" class="btn btn-block btn-success btn-xs btn-popup"><i class="fa fa-plus"></i> Add Pump</button> -->
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <form id="uploadForm" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="file">Choose File</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file" accept=".xlsx, .xls, .csv" required>
                        <label class="custom-file-label" for="file" id="fileLabel">Select file...</label>
                      </div>
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /.wrapper -->

{% endblock content %}

{% block scripts %} 
  <script>
    // Update the label next to file input with the selected file's name
    document.querySelector('.custom-file-input').addEventListener('change', function(e) {
      var fileName = document.getElementById("file").files[0].name;
      var nextSibling = e.target.nextElementSibling;
      nextSibling.innerText = fileName;
    });
  </script>
{% endblock scripts %}
